version: "3.9"

services:
  backend:
    build: ./server
    ports:
      - "8080:8080"
    environment:
      ENV: dev
      CLIENT_IP: http://localhost:3000

  frontend:
    build: ./web
    ports:
      - "3000:80"
    environment:
      BACKEND_URL: http://localhost:8080
    depends_on:
      - backend